<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <!-- collaborators and configuration for this bean go here -->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/chapter12?serverTimezone=UTC"/>
        <property name="password" value="root"/>
        <property name="username" value="root"/>
        <property name="maxTotal" value="200"/>
        <property name="maxIdle" value="5"/>
        <property name="maxWaitMillis" value="10000"/>
    </bean>



    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:sqlMapConfig.xml" />
    </bean>


    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory" />
        <!-- <constructor-arg value="BATCH"/> -->
    </bean>


    <!-- <bean id="roleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.ssm.chapter12.mapper.RoleMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate]"/>
    </bean>
    -->
   <!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        &lt;!&ndash; 使用sqlSessionTemplateBeanName将覆盖sqlSessionFactoryBeanName的配置 &ndash;&gt;
        &lt;!&ndash; <property name="sqlSessionTemplateBeanName" value="sqlSessionFactory"/> &ndash;&gt;
        &lt;!&ndash; 指定标注才扫描成为Mapper &ndash;&gt;
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
       &lt;!&ndash; <property name="mapperInterface" value="mapper.RoleMapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>&ndash;&gt;
    </bean>-->
</beans>